extends sidebar

block content
  h1.display-6.text-center.mt-4.mb-4 Author: #{author.name}
  p.text-center #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}
  
  div(style='margin-left:20px;margin-top:20px')
    h1.display-6.text-center.mt-5.mb-3 Books

    if author_books.length > 0
      .container
        .row
          each book in author_books
            .col-4
              div(class="card mb-3" style="width: 19rem; height: 21rem;")
                a(href=book.url class="card-img-top m-1 ")
                  img(src='/book.png', alt='Book Cover', class='card-img-top')
                div(class="card-body text-center")
                  h4(class="card-title mb-4") #{book.title} 
                  
    else
      .card-body.text-center
        p.lead This author has no books
        img(src='/no-education.png', alt='Book Cover', class='card-img-top mx-auto')
  
  hr.text-center
  .text-center
    p
      a.btn.btn-outline-danger(href=author.url+'/delete') Delete author
    p
      a.btn.btn-outline-primary(href=author.url+'/update') Update author
