extends layout

block content
  h1(class="display-5 text-center mt-2 mb-5")= title

  if book_list.length > 0
    .container
      .row
        each book in book_list
          .col
            div(class="card mb-3" style="width: 18rem; height: 20rem;")
              a(href=book.url class="card-img-top m-2 ")
               img(src='/book.png', alt='Book Cover', class='card-img-top')
              div(class="card-body text-center")
                h5(class="card-title mb-4") #{book.title} 
                h6(class="card-title") Author
                 a(href=book.author.url class="card-link")  (#{book.author.name})
  else
    li There are no books.

