extends sidebar

block content
  h1.display-6.text-center.mt-4.mb-4= title

  .card.p-4.cardform 
    form(method='POST' action='')
      .form-group.mb-2
        label.mb-1(for='title') Title:
        input#title.form-control(type='text', placeholder='Name of book' name='title', required='true', value=(undefined === book ? '' : book.title))

      .form-group.mb-2
        label.mb-1(for='author') Author:
        select#author.form-control(type='select', placeholder='Select author' name='author', required='true')
          for author in authors
            if book
              option(value=author._id, selected=(author._id.toString() === book.author._id.toString() ? 'selected' : false)) #{author.name}
            else
              option(value=author._id) #{author.name}

      .form-group.mb-2
        label.mb-1(for='summary') Summary:
        textarea#summary.form-control(type='textarea', placeholder='Summary' name='summary', required='true') #{undefined === book ? '' : book.summary}

      .form-group.mb-2
        label.mb-1(for='isbn') ISBN:
        input#isbn.form-control(type='text', placeholder='ISBN13' name='isbn', value=(undefined === book ? '' : book.isbn), required='true')

      .form-group.mb-2
        label.mb-1(for='genre') Genre:
        div
          for genre in genres
            div(style='display: inline; padding-right:10px;')
              input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked)
              label(for=genre._id) #{genre.name}

      button.btn.btn-primary(type='submit') Submit
     
  if errors
    ul.alert.alert-danger
      for error in errors
        li!= error.msg

