extends layout

block content
  h1(class="display-5 text-center mt-2 mb-5")= title

  if bookinstance_list.length > 0
    table.table.table-bordered.table-hover
      thead
        tr
          th Number
          th Book Title
          th Status
      tbody
        each val, index in bookinstance_list
          tr
            td #{index + 1}
            td
              if val.book
                a(href=val.url) #{val.book.title} : #{val.imprint}
              else
                | Book information is missing for this instance.
            td
              if val.status=='Available'
                span.text-success #{val.status}
              else if val.status=='Maintenance'
                span.text-danger #{val.status}
              else
                span.text-warning #{val.status}
  else
    p There are no book instances.

